fastapi
uvicorn
pydantic
pydantic-settings
mss
opencv-python
pillow
pytesseract
pyautogui
psutil
openai
websockets==12.0
firebase-admin==6.5.0
python-dotenv==1.0.1
numpy==1.26.4
razorpay==1.4.1
google-cloud-firestore==2.16.0
